*{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    
    
}

.container{
    background-size: 100%;
}


body{
    background-image: url("assets/images/persona5-bg.png");
    background-size: 100%;
}

img{
    margin-bottom: 10px;
    vertical-align: middle;
    border-style: solid;
    margin-top: 3%;
    border-radius: 10px;
}

.jumbotron
{
    background-color: rgb(168, 0, 0, 0.3);
    text-align: center;
    border: 2px solid black;
    background-image: url("assets/images/ezgif.com-video-to-gif.gif");
    background-position-x: center;
    background-position-y: 25%;
    background-repeat: no-repeat;
}


.row {
width: 65%;
margin: 0;
margin-bottom: 3%;
align-content: center;
background-color: rgb(168, 0, 0, 0.3);
}

.navbar{
    background-color: rgb(168, 0, 0, 0.3);
    color: antiquewhite;
    margin-bottom: 2%;
    border: 2px solid black; 
    
}

p {
    margin-top: 5px;;
    margin-bottom: 1rem;

    width: 10%;
    margin-left: 45%;
}


#gifs-appear-here{
    margin-bottom: 5%;
    background-color: rgb(168, 0, 0, 0.3);
    border: black 2px solid;
    max-height: 100%;
    text-align: center;
}



.navbar-brand,
a.navbar-brand{
    color: rgb(26, 24, 22);
    font-size: 10px;
    margin-bottom: -15px;
}
button, .btn{
    display: inline;
    border-radius: 10px;
    color: white;
    background-color: rgba(41, 41, 41, 0.3);
   
}

.jumbotron {
    position: relative;
    overflow: hidden;
    background-color:black;
  
  
  }
  .footer{
    margin-bottom: -6%;
    background-position-y: 2%;
}


.card-footer{
    margin-bottom: 10px;
}
.card-deck{
    margin: inherit;
    
}


















  
  

