*{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    
    
}

.container{
    
   
    background-size: 100%;
    
}


body{
    background-image: url("assets/images/persona5-bg.png");
    background-size: 100%;
}

.jumbotron
{
    background-color: rgb(168, 0, 0, 0.3);
    text-align: center;
    border: 5px solid black;
    background-image: url("assets/images/ezgif.com-video-to-gif.gif");
    background-position-x: center;
    background-repeat: no-repeat;
}


.row {
    width: 65%;
margin: 0;
margin-bottom: 3%;

background-color: rgb(168, 0, 0, 0.3);
}

.navbar{
    background-color: rgb(168, 0, 0, 0.3);
    color: antiquewhite;
    margin-bottom: 2%;
    border: 5px solid black; 
    
}

.navbar-brand,
a.navbar-brand{
    color: antiquewhite;
    font-size: 10px;
    margin-bottom: -15px;
}
.button{
    display: inline;
    margin-right: 1%;
    background-color: rgb(168, 0, 0, 0.6);
    color: white;
    border: 1px solid white;
}

.jumbotron {
    position: relative;
    overflow: hidden;
    background-color:black;
  
  
  }
  .footer{
    margin-bottom: -6%;
}



.card-footer{
    margin-bottom: 10px;
}
.card-deck{
    margin: inherit;
    
}
















  
  

